
{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<style>

    *{
      font-family: 'Inter', sans-serif;
    }

    body{
      background: #F5F7FB;
    }

    .hero-bg{
      background:
      linear-gradient(
        rgba(6,18,38,0.72),
        rgba(6,18,38,0.72)
      ),
      url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");

      background-size: cover;
      background-position: center;
    }

    .card-hover{
      transition: 0.3s ease;
    }

    .card-hover:hover{
      transform: translateY(-6px);
    }



    .line-clamp-2{
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

.line-clamp-3{
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
}
  </style>


  <section class="hero-bg pt-36 pb-24">

    <div class="max-w-7xl mx-auto px-6">

    
      <div class="text-center">

        <h1 class="text-white text-2xl lg:text-4xl font-extrabold leading-tight">

          Discover & Book Things to do<br>

          

        </h1>

        <!-- <p class="text-gray-200 text-[15px] lg:text-[17px] mt-6 max-w-2xl mx-auto leading-7">

          Explore attractions, tours, adventures, and unforgettable activities
          across the world with premium travel experiences.

        </p> -->

      </div>

      
      <div class="max-w-4xl mx-auto mt-12">

        <div class="bg-white rounded-full shadow-2xl p-2 flex items-center">

          <div class="flex items-center flex-1 px-5">

            <i class="fa-solid fa-location-dot text-cyan-600 text-[18px]"></i>

            {% comment %} <input
              type="text"
              placeholder="Find places and things to do"
              class="w-full px-4 py-4 outline-none text-[15px]"
            /> {% endcomment %}

         <div class="relative flex-1 px-5">

    {% comment %} <input
        type="text"
        id="searchInput"
        placeholder="Find places and things to do"
        class="w-full px-4 py-4 outline-none text-[15px]"
        onkeyup="searchSuggestions()"
    >

    <div
        id="searchDropdown"
        class="absolute left-0 right-0 top-full bg-white shadow-lg rounded-xl mt-2 hidden z-50 max-h-80 overflow-y-auto"
    >
    </div> {% endcomment %}



<input
    type="text"
    id="searchInput"
    placeholder="Find places and things to do"
    class="w-full px-4 py-4 outline-none text-[15px]"
    onkeyup="searchSuggestions()"
    onfocus="showDefaultTours()"
/>

<div
    id="searchDropdown"
    class="absolute left-0 right-0 top-full bg-white shadow-lg rounded-xl mt-2 hidden z-50 max-h-80 overflow-y-auto"
></div>






    
</div>

          </div>

          {% comment %} <button class="bg-gradient-to-r from-cyan-500 to-blue-600 hover:opacity-95 transition text-white px-10 py-4 rounded-full font-semibold text-[15px]">

            Search

          </button> {% endcomment %}


          <button onclick="searchTours()" class="bg-gradient-to-r from-cyan-500 to-blue-600 hover:opacity-95 transition text-white px-10 py-4 rounded-full font-semibold text-[15px]">
    Search
</button>

        </div>

      </div>

      <div class="grid lg:grid-cols-3 gap-7 mt-16">

 
        <div class="bg-white rounded-3xl p-4 shadow-lg card-hover">

          <div class="flex gap-4">

            <img
              src="https://images.unsplash.com/photo-1564507592333-c60657eea523"
              class="w-32 h-28 rounded-2xl object-cover"
            />

            <div class="flex-1">

              <p class="text-cyan-600 text-[12px] font-semibold">
                Heritage Tour
              </p>

              <h3 class="text-[18px] font-bold text-gray-900 leading-7 mt-1">

                Hyderabad Walking Tour

              </h3>

              <p class="text-[13px] text-gray-500 mt-2">
                3 - 5 hours · Pickup optional
              </p>

              <div class="flex items-center justify-between mt-4">

                <div class="flex items-center gap-1 text-[13px]">

                  <span class="text-yellow-500">
                    ★★★★☆
                  </span>

                  <span class="text-gray-500">
                    (50)
                  </span>

                </div>

                <h2 class="text-[22px] font-bold text-cyan-600">
                  ₹4,250
                </h2>

              </div>

            </div>

          </div>

        </div>

      
        <div class="bg-white rounded-3xl p-4 shadow-lg card-hover">

          <div class="flex gap-4">

            <img
              src="https://images.unsplash.com/photo-1548013146-72479768bada"
              class="w-32 h-28 rounded-2xl object-cover"
            />

            <div class="flex-1">

              <p class="text-cyan-600 text-[12px] font-semibold">
                Fort Tour
              </p>

              <h3 class="text-[18px] font-bold text-gray-900 leading-7 mt-1">

                Golconda Fort & Tombs

              </h3>

              <p class="text-[13px] text-gray-500 mt-2">
                5 - 6 hours · Private group
              </p>

              <div class="flex items-center justify-between mt-4">

                <div class="flex items-center gap-1 text-[13px]">

                  <span class="text-yellow-500">
                    ★★★★☆
                  </span>

                  <span class="text-gray-500">
                    (71)
                  </span>

                </div>

                <h2 class="text-[22px] font-bold text-cyan-600">
                  ₹9,250
                </h2>

              </div>

            </div>

          </div>

        </div>

        
        <div class="bg-white rounded-3xl p-4 shadow-lg card-hover">

          <div class="flex gap-4">

            <img
              src="https://images.unsplash.com/photo-1599661046289-e31897846e41"
              class="w-32 h-28 rounded-2xl object-cover"
            />

            <div class="flex-1">

              <p class="text-cyan-600 text-[12px] font-semibold">
                Full Day Tour
              </p>

              <h3 class="text-[18px] font-bold text-gray-900 leading-7 mt-1">

                Hyderabad Full Day Tour

              </h3>

              <p class="text-[13px] text-gray-500 mt-2">
                4 - 8 hours · Skip line
              </p>

              <div class="flex items-center justify-between mt-4">

                <div class="flex items-center gap-1 text-[13px]">

                  <span class="text-yellow-500">
                    ★★★★☆
                  </span>

                  <span class="text-gray-500">
                    (56)
                  </span>

                </div>

                <h2 class="text-[22px] font-bold text-red-500">
                  ₹5,400
                </h2>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </section> 

  <!-- ================= TOUR SECTION ================= -->
<!-- ================= TOUR SECTION ================= -->

<section class="mx-auto px-2 lg:px-28 py-2 md:py-12 bg-[#f8fbff]">

    <!-- TOP -->
    <div class="flex flex-col lg:flex-row lg:items-end lg:justify-between gap-6 mb-12">

        <div>

            <p class="text-cyan-600 text-[13px] font-semibold uppercase tracking-[3px]">
                Recommended Tours
            </p>

            <h2 class="text-xl lg:text-3xl font-black text-gray-900 mt-1 leading-tight">
                Based On Your Search In Hyderabad
            </h2>

        </div>

    </div>




<!-- TOUR GRID -->



<!-- TOUR GRID -->
<div
    id="tourGrid"
    class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-2"
></div>




<script>



function renderTours(tours) {

    let html = "";

    tours.forEach((tour) => {

        html += `
        <a
            href="/tour-details/${tour.slug}/"
            class="bg-white rounded-3xl overflow-hidden shadow-md block"
        >

            <div class="relative">

                <img
                    src="${tour.thumbnail}"
                    class="w-full h-[250px] object-cover"
                >

                <div class="absolute top-4 left-4">

                    <span class="bg-white text-cyan-600 px-3 py-1 rounded-full text-xs font-bold">
                        ${tour.tour_type}
                    </span>

                </div>

            </div>

            <div class="p-2">

                <h3 class="font-medium text-lg">
                    ${tour.title}
                </h3>

                <div class="flex items-center gap-2 mt-1 text-gray-900">

                    <i class="fa-solid fa-location-dot text-cyan-900"></i>

                    <span>${tour.state}</span>

                </div>

                <p class="text-gray-900 text-sm mt-1 line-clamp-2">
                    ${tour.short_description}
                </p>

                <p class="text-gray-900 mt-2">
                    ${tour.duration}
                </p>

                <h4 class="text-cyan-600 text-2xl font-bold mt-3">
                    ₹${tour.adult_price}
                </h4>

            </div>

        </a>
        `;
    });

    document.getElementById("tourGrid").innerHTML = html;
}


    async function searchTours() {

    const search =
        document.getElementById(
            "searchInput"
        ).value;

    const response = await fetch(
        `/api/home/?search=${search}`
    );

    const data =
        await response.json();

    renderTours(
        data.tours
    );
}

async function showDefaultTours() {

    const response = await fetch("/api/home/");

    const data = await response.json();

    const tours = (data.tours || []).slice(0, 6);

    let html = `
        <div class="px-4 py-2 text-xs font-semibold text-gray-500 border-b">
            Popular Tours
        </div>
    `;

    tours.forEach((tour) => {

        html += `
        <a
            href="/tour-details/${tour.slug}/"
            class="block px-4 py-3 hover:bg-gray-100 border-b"
        >
            <div class="font-semibold text-gray-900">
                ${tour.title}
            </div>

            <div class="text-sm text-gray-500">
                ${tour.state}
            </div>
        </a>
        `;
    });

    const dropdown =
        document.getElementById("searchDropdown");

    dropdown.innerHTML = html;
    dropdown.classList.remove("hidden");
}

async function searchSuggestions() {

    const search =
        document.getElementById("searchInput").value;

    if (!search.trim()) {
        showDefaultTours();
        return;
    }

    const response = await fetch(
        `/api/home/?search=${search}`
    );

    const data = await response.json();

    const tours = data.tours || [];

    let html = "";

    tours.forEach((tour) => {

        html += `
        <a
            href="/tour-details/${tour.slug}/"
            class="block px-4 py-3 hover:bg-gray-100 border-b"
        >
            <div class="font-semibold">
                ${tour.title}
            </div>

            <div class="text-sm text-gray-500">
                ${tour.state}
            </div>
        </a>
        `;
    });

    const dropdown =
        document.getElementById("searchDropdown");

    dropdown.innerHTML = html;
    dropdown.classList.remove("hidden");
}

document.addEventListener("click", function(e) {

    const input =
        document.getElementById("searchInput");

    const dropdown =
        document.getElementById("searchDropdown");

    if (
        !input.contains(e.target) &&
        !dropdown.contains(e.target)
    ) {
        dropdown.classList.add("hidden");
    }
});
    async function fetchHomeTours() {

    try {

        const response = await fetch(
            "/api/home/"
        );

        const data =
            await response.json();

        console.log(
            "HOME API",
            data
        );

        const tours =
            data.tours || [];

        const destinations =
            data.destinations || [];

        const unforgettable =
            data.unforgettable || [];

        renderTours(tours);

        // =====================
        // TOURS
        // =====================

        // =====================
        // DESTINATIONS
        // =====================

        let destinationHTML = "";

        destinations.forEach((item) => {

            destinationHTML += `

            <div class="group">

                <img
                    src="${item.image}"
                    class="w-full h-[220px] object-cover rounded-3xl"
                >

                <h3 class="mt-3 text-xl font-bold">

                    ${item.state}

                </h3>

            </div>

            `;

        });

        document.getElementById(
            "destinationGrid"
        ).innerHTML =
            destinationHTML;

        // =====================
        // UNFORGETTABLE
        // =====================

        let unforgettableHTML = "";

        unforgettable.forEach((tour) => {

            unforgettableHTML += `

            <div class="bg-white rounded-3xl overflow-hidden shadow-md">

                <img
                    src="${tour.thumbnail}"
                    class="w-full h-[250px] object-cover"
                >

                <div class="p-5">

                    <h3 class="font-bold text-lg">

                        ${tour.title}

                    </h3>

                    <p class="text-gray-500 mt-2">

                        ${tour.duration}

                    </p>

                    <h4 class="text-cyan-600 text-2xl font-bold mt-3">

                        ₹${tour.adult_price}

                    </h4>

                </div>

            </div>

            `;

        });

        document.getElementById(
            "unforgettableGrid"
        ).innerHTML =
            unforgettableHTML;

    }

    catch(error) {

        console.log(
            "HOME API ERROR",
            error
        );
    }

}

fetchHomeTours();
</script>

{% comment %} <script>

async function fetchHomeTours(){

    try{

        const response = await fetch(
            "/api/home/"
        );

        const tours = await response.json();

        console.log(tours);
        const tours = data.tours || [];


        const destinations =
            data.destinations || [];

        const unforgettable =
            data.unforgettable || [];


        let html = "";



        tours.forEach((tour, index) => {

            html += `

            <!-- TOUR CARD -->
            <a
                href="/tour-details/${tour.slug}/"
                class="
                    ${
                        index > 7
                        ? 'hidden extra-tour'
                        : ''
                    }
                    group
                    bg-white
                    rounded-[30px]
                    overflow-hidden
                    shadow-md
                    hover:shadow-2xl
                    hover:-translate-y-2
                    transition
                    duration-500
                    block
                "
            >

                <!-- IMAGE -->
                <div class="relative overflow-hidden">

                  

                    <img
    src="${
        tour.thumbnail
        ? tour.thumbnail
        : 'https://images.unsplash.com/photo-1507525428034-b723cf961d3e9'
    }"
    alt="${tour.title}"
    class="w-full h-[260px] object-cover group-hover:scale-110 transition duration-700"
    onerror="this.src='https://images.unsplash.com/photo-1507525428034-b723cf961d3e'"
>

                    <!-- TOUR TYPE -->
                    <div class="absolute top-4 left-4">

                        <span class="bg-white/90 backdrop-blur-md text-cyan-700 text-[12px] font-bold px-4 py-2 rounded-full shadow-lg capitalize">

                            ${tour.tour_type}

                        </span>

                    </div>


                    <!-- FEATURED -->
                    ${
                        tour.featured
                        ? `
                        <div class="absolute top-4 right-4">

                            <span class="bg-yellow-400 text-black text-[11px] font-black px-3 py-2 rounded-full shadow-lg">

                                Featured

                            </span>

                        </div>
                        `
                        : ''
                    }

                </div>




                <!-- CONTENT -->
                <div class="p-6">

                    <!-- TITLE -->
                    <h3 class="text-[22px] font-black text-[#0B1F44] leading-tight line-clamp-2 group-hover:text-cyan-600 transition">

                        ${tour.title}

                    </h3>





                    <!-- DURATION -->
                    <div class="flex items-center gap-2 text-gray-500 text-sm mt-4">

                        <i class="fa-regular fa-clock text-cyan-600"></i>

                        <span>

                            ${tour.duration}

                        </span>

                    </div>





                    <!-- BOTTOM -->
                    <div class="flex items-end justify-between mt-7">

                        <!-- LEFT -->
                        <div>

                            <div class="flex items-center gap-1 text-yellow-500">

                                <i class="fa-solid fa-star"></i>

                                <span class="font-bold text-[#0B1F44]">

                                    4.8

                                </span>

                            </div>

                            <p class="text-gray-400 text-sm mt-1">

                                Tour Package

                            </p>

                        </div>




                        <!-- RIGHT -->
                        <div class="text-right">

                            ${
                                tour.offer_price
                                ? `
                                <p class="text-sm text-gray-400 line-through">

                                    ₹${tour.adult_price}

                                </p>
                                `
                                : ''
                            }

                            <h4 class="text-3xl font-black text-cyan-600">

                             ₹${tour.adult_price}

                              

                            </h4>

                        </div>

                    </div>

                </div>

            </a>

            `;

        });




        // ================= EMPTY =================

        if(tours.length === 0){

            html = `

            <div class="col-span-full">

                <div class="bg-white rounded-3xl p-10 text-center shadow-md">

                    <h3 class="text-2xl font-bold text-gray-900">

                        No Tours Available

                    </h3>

                    <p class="text-gray-500 mt-3">

                        Please add tours in admin panel.

                    </p>

                </div>

            </div>

            `;

        }




        document.getElementById(
            "tourGrid"
        ).innerHTML = html;


// =====================
// DESTINATIONS
// =====================

let destinationHTML = "";

destinations.forEach((item) => {

    destinationHTML += `

    <div class="group cursor-pointer">

        <div class="overflow-hidden rounded-3xl">

            <img
                src="${item.image}"
                class="w-full h-[220px] object-cover group-hover:scale-110 transition duration-500"
            >

        </div>

        <h3 class="text-[22px] font-bold text-[#0B1F44] mt-4">

            ${item.state}

        </h3>

    </div>

    `;
});

document.getElementById(
    "destinationGrid"
).innerHTML =
    destinationHTML;


// =====================
// UNFORGETTABLE
// =====================

let unforgettableHTML = "";

unforgettable.forEach((tour) => {

    unforgettableHTML += `

    <div class="group bg-white rounded-[28px] overflow-hidden border border-gray-100 hover:shadow-2xl hover:-translate-y-2 duration-500">

        <div class="overflow-hidden">

            <img
                src="${tour.thumbnail}"
                class="w-full h-[250px] object-cover group-hover:scale-110 duration-700"
            >

        </div>

        <div class="p-6">

            <h3 class="text-[18px] font-black text-[#0B1F44]">

                ${tour.title}

            </h3>

            <div class="mt-3 text-gray-500">

                ${tour.duration}

            </div>

            <div class="mt-5 flex justify-between items-center">

                <span class="text-yellow-500">

                    ★ 4.8

                </span>

                <span class="text-2xl font-bold text-cyan-600">

                    ₹${tour.adult_price}

                </span>

            </div>

        </div>

    </div>

    `;
});

document.getElementById(
    "unforgettableGrid"
).innerHTML =
    unforgettableHTML;

        // ================= SHOW MORE =================

        const hiddenTours =
            document.querySelectorAll(
                ".extra-tour"
            );



        const existingBtn =
            document.getElementById(
                "showMoreWrapper"
            );

        if(existingBtn){

            existingBtn.remove();

        }



        if(hiddenTours.length > 0){

            const buttonHTML = `

            <div
                id="showMoreWrapper"
                class="flex justify-center mt-14"
            >

                <button
                    id="showMoreBtn"
                    class="bg-gradient-to-r from-cyan-500 to-blue-600 hover:opacity-95 text-white px-10 py-4 rounded-2xl font-bold text-[15px] shadow-xl transition"
                >

                    Show More Tours

                </button>

            </div>

            `;

            document
                .querySelector("#tourGrid")
                .insertAdjacentHTML(
                    "afterend",
                    buttonHTML
                );



            document
                .getElementById("showMoreBtn")
                .addEventListener("click", function(){

                    hiddenTours.forEach((card) => {

                        card.classList.remove(
                            "hidden"
                        );

                    });

                    this.parentElement.style.display = "none";

                });

        }

    }

    catch(error){

        console.log(
            "Home Tour API Error",
            error
        );

    }

}


fetchHomeTours();

</script> {% endcomment %}

</section>





<script>

const showMoreBtn =
    document.getElementById("showMoreBtn");

if (showMoreBtn) {

    showMoreBtn.addEventListener("click", function () {

        const hiddenTours =
            document.querySelectorAll(".extra-tour");

        hiddenTours.forEach((card) => {

            card.classList.remove("hidden");

        });

        showMoreBtn.style.display = "none";

    });

}

</script>





<!-- ================= DESTINATIONS SECTION ================= -->

<section class=" mx-auto  px-2 md:px-16 py-4">

    <!-- TITLE -->
    <div class="mb-10  px-2 md:px-16">

        <h2 class="text-xl lg:text-3xl font-extrabold text-[#0B1F44] leading-tight">
            Things to do wherever you're going
        </h2>

    </div>

    <!-- DESTINATIONS GRID -->
    {% comment %} <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-6 gap-6"> {% endcomment %}

    <div
    id="destinationGrid"
    class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-6  px-2 md:px-16"
></div>

    {% comment %} </div> {% endcomment %}

</section>



<!-- ================= EXPERIENCE SECTION ================= -->

<section class="py-4 px-2 md:px-16 bg-[#f7f9fc]">

    <div class=" mx-auto px-4 lg:px-16">

        <!-- TOP -->
        <div class="flex items-center justify-between mb-10">

            <div>

                <h2 class="text-xl lg:text-3xl font-black text-[#0B1F44] leading-tight">

                    Unforgettable travel experiences

                </h2>

                <p class="text-gray-500 mt-3 text-lg">

                    Explore top-rated tours, adventures, and unique activities

                </p>

            </div>

            <button class="hidden lg:flex items-center gap-2 border border-gray-200 bg-white px-6 py-3 rounded-2xl font-semibold hover:shadow-lg transition">

                View all

                <i class="fa-solid fa-arrow-right"></i>

            </button>

        </div>

        <!-- ================= CARDS ================= -->

        {% comment %} <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-7"> {% endcomment %}

          <div
    id="unforgettableGrid"
    class="grid sm:grid-cols-2 lg:grid-cols-4 gap-7"
></div>


         

        {% comment %} </div> {% endcomment %}

    </div>
</div>
</section>




<style>

.no-scrollbar::-webkit-scrollbar{
    display:none;
}

.no-scrollbar{
    -ms-overflow-style:none;
    scrollbar-width:none;
}

</style>


<script>

{% comment %} 
   const destinationGrid =
    document.getElementById(
        "destinationGrid"
    );

let destinationHTML = "";

(data.destinations || []).forEach(
    (item) => {

        destinationHTML += `
        <div class="group cursor-pointer">

            <div class="overflow-hidden rounded-3xl">

                <img
                    src="${item.image}"
                    class="w-full h-[220px] object-cover group-hover:scale-110 transition duration-500"
                >

            </div>

            <h3 class="text-[22px] font-bold text-[#0B1F44] mt-4">

                ${item.state}

            </h3>

        </div>
        `;
    }
);

destinationGrid.innerHTML =
    destinationHTML;





const unforgettableGrid =
    document.getElementById(
        "unforgettableGrid"
    );

let unforgettableHTML = "";

(data.unforgettable || []).forEach(
    (tour) => {

        unforgettableHTML += `
        <div class="group bg-white rounded-[28px] overflow-hidden border border-gray-100 hover:shadow-2xl hover:-translate-y-2 duration-500">

            <div class="relative overflow-hidden">

                <img
                    src="${tour.thumbnail}"
                    class="w-full h-[250px] object-cover group-hover:scale-110 duration-700"
                >

            </div>

            <div class="p-6">

                <h3 class="text-[18px] font-black text-[#0B1F44]">

                    ${tour.title}

                </h3>

                <div class="mt-3 text-gray-500">

                    ${tour.duration}

                </div>

                <div class="mt-5 flex justify-between items-center">

                    <span class="text-yellow-500">
                        ★ 4.8
                    </span>

                    <span class="text-2xl font-bold text-cyan-600">

                        ₹${tour.adult_price}

                    </span>

                </div>

            </div>

        </div>
        `;
    }
);

unforgettableGrid.innerHTML =
    unforgettableHTML;
 {% endcomment %}


</script>










{% comment %} <script>

const carousel =
    document.getElementById("tourCarousel");

const nextBtn =
    document.getElementById("nextBtn");

const prevBtn =
    document.getElementById("prevBtn");

nextBtn.addEventListener("click", () => {

    carousel.scrollBy({
        left: 350,
        behavior: "smooth"
    });

});

prevBtn.addEventListener("click", () => {

    carousel.scrollBy({
        left: -350,
        behavior: "smooth"
    });

});


// AUTO MOVE

setInterval(() => {

    if (
        carousel.scrollLeft + carousel.clientWidth
        >= carousel.scrollWidth - 10
    ) {

        carousel.scrollTo({
            left: 0,
            behavior: "smooth"
        });

    } else {

        carousel.scrollBy({
            left: 350,
            behavior: "smooth"
        });

    }

}, 3000);

</script> {% endcomment %}


  
{% endblock %}